.nav{
    height: 10vh;
    background-color: #3d235a;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    justify-content: space-between;
    color: aliceblue;
}

.logo{
    height: 80%;
    margin-left: 1%;
}

.menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 10px;
   list-style: none;
}

.menu:hover{
    cursor: pointer;
}

